<div class="row align-items-center">
  <div class="col-12 col-lg-6">
    <!-- rubric36
    image of the selected product -->
    <img src="{{picture}}" class="responsive">
  </div>
  <div class="col-12 col-lg-6  text-center ">
    <div class="jumbotron">
      <!-- rubric35
      the Name of the selected product -->
      <h1 class="display-3">{{JSONData[catIndex].subcategories[subIndex].items[itemIndex].name}}</h1>
      <p class="lead">
        <!-- rubric37
        the rating of the selected product -->
        <ngb-rating [rate]="JSONData[catIndex].subcategories[subIndex].items[itemIndex].rating"></ngb-rating>
      </p>
      <hr class="my-2">
      <!-- rubric39
      the price of the selected product -->
      <h4>{{JSONData[catIndex].subcategories[subIndex].items[itemIndex].price}}€</h4>
      <!-- rubric38
      the number of items in stock of the selected product -->
      <h5>In stock: {{JSONData[catIndex].subcategories[subIndex].items[itemIndex].stock}}</h5>
      <!-- rubric40
      the description of the selected product -->
      <h5 class="card my-3">{{JSONData[catIndex].subcategories[subIndex].items[itemIndex].description}}</h5>
      <!-- rubric42
      the quantaty input field of the selected product -->
      <label for="quantity">Qty</label>
      <input class="m-2 counter text-center" #quantity type="number" id="quantity" value="1">
      <hr>
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Go on Shopping?</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <h2>Go to Cart or go on Shopping?</h2>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss()">
            Go on Shopping
          </button>
          <a class="btn btn-outline-dark" (click)="modal.close()" href="/home/cart">Go to Cart</a>
        </div>
      </ng-template>
      <!-- rubric41
      the add button of the selected product -->
      <button class="btn btn-lg btn-outline-primary mt-2" (click)="sendData(quantity.value)" (click)="open(content)">Add
        to Cart</button>
    </div>
  </div>
</div>