<div class="row justify-content-center">
    <!-- -rubric04
      The text that welcomes you to the page-->
    <h1 class="welcometext text-center">Welcome to the Grocery Cloud shop</h1>
</div>
<div class="row justify-content-end">
    <div class="form-group col-xl-3 col-sm-5">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label class="float-right">
                    <!-- -rubric06 
                      the switch that toggles the slideshow-->
                    <input type="checkbox" id="toggleslide" (click)="toggle()" checked> Toggle Slide Show
                </label>
            </div>
        </div>
    </div>
</div>
<!-- -rubric01
  the carousel that cycles through 4 pictures -->
<div class="row">
    <!-- rubric11
    the class "slide" is corresponding for the animated way of changing the image -->
    <div id="myCarousel" class="carousel slide mx-auto col-10" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <!-- rubric09
                if the user clickes on the picture he gets taken to the product page with the routerlink -->
                <a [routerLink]="['/home/shopping/detail', rndCat[0], rndSub[0], Names[0]]">
                    <img src="{{Pictures[0]}}"
                        alt="{{JSONData[rndCat[0]].subcategories[rndSub[0]].items[rndItem[0]].name}}"
                        class="d-block mx-auto responsive">
                </a>
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="black">{{JSONData[rndCat[0]].subcategories[rndSub[0]].items[rndItem[0]].name}}</h3>
                    <p class="black">{{JSONData[rndCat[0]].subcategories[rndSub[0]].items[rndItem[0]].description}}
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                 <!-- rubric09
                if the user clickes on the picture he gets taken to the product page with the routerlink -->
                <a [routerLink]="['/home/shopping/detail', rndCat[1], rndSub[1], Names[1]]">
                    <img src="{{Pictures[1]}}"
                        alt="{{JSONData[rndCat[1]].subcategories[rndSub[1]].items[rndItem[1]].name}}"
                        class="d-block mx-auto responsive"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="black">{{JSONData[rndCat[1]].subcategories[rndSub[1]].items[rndItem[1]].name}}</h3>
                    <p class="black">{{JSONData[rndCat[1]].subcategories[rndSub[1]].items[rndItem[1]].description}}
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                 <!-- rubric09
                if the user clickes on the picture he gets taken to the product page with the routerlink -->
                <a [routerLink]="['/home/shopping/detail', rndCat[2], rndSub[2], Names[2]]">
                    <img src="{{Pictures[2]}}"
                        alt="{{JSONData[rndCat[2]].subcategories[rndSub[2]].items[rndItem[2]].name}}"
                        class="d-block mx-auto responsive"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="black">{{JSONData[rndCat[2]].subcategories[rndSub[2]].items[rndItem[2]].name}}</h3>
                    <p class="black">{{JSONData[rndCat[2]].subcategories[rndSub[2]].items[rndItem[2]].description}}
                    </p>
                </div>
            </div>
            <div class="carousel-item">
                 <!-- rubric09
                if the user clickes on the picture he gets taken to the product page with the routerlink -->
                <a [routerLink]="['/home/shopping/detail', rndCat[3], rndSub[3], Names[3]]">
                    <img src="{{Pictures[3]}}"
                        alt="{{JSONData[rndCat[3]].subcategories[rndSub[3]].items[rndItem[3]].name}}"
                        class="d-block mx-auto responsive"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="black">{{JSONData[rndCat[3]].subcategories[rndSub[3]].items[rndItem[3]].name}}</h3>
                    <p class="black">{{JSONData[rndCat[3]].subcategories[rndSub[3]].items[rndItem[3]].description}}
                    </p>
                </div>
            </div>
        </div>
        <!-- -rubric02
      button that cycles to the left-->
        <!-- rubric07
    the 'data-slide="prev"' controlls the carousel to slide to the left-->
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <i class="fa fa-arrow-left fa-2x text-dark"></i>
            <span class="sr-only">Previous</span>
        </a>
        <!-- -rubric03
      button that cycles to the right-->
        <!-- rubric08
    the 'data-slide="next"' controlls the carousel to slide to the right-->
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <i class="fa fa-arrow-right fa-2x text-dark"></i>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

<div class="row justify-content-center">
    <!-- -rubric05
      the button with is labeled Shop All-->
    <!-- -roubric12
      the button that takes you to the shopping page-->
    <a class="btn btn-primary mt-1 mb-5" href="home/shopping">Shop All</a>
</div>


<!--https://cdn.pixabay.com/photo/2017/11/18/17/09/strawberry-2960533_960_720.jpg
  https://cdn.pixabay.com/photo/2016/04/13/07/18/blueberry-1326154_960_720.jpg
  https://cdn.pixabay.com/photo/2014/12/08/09/45/noodles-560657_960_720.jpg
  https://cdn.pixabay.com/photo/2018/07/12/02/32/basil-3532424_960_720.jpg
  I made sure these pictures that are not copyrighted-->