.responsive{
    width: auto;
    height: 25vh;
    @media (min-width: 768px) {
        height: 50vh;
    }
}
.black{
    color: black;
}
.card{
    height: 100vh;
}
.welcometext{
    margin-top: -40px;
}
