<div class="row background">
  <div class="col-lg-3 col-12 box my-4">
    <!-- rubric14
    here is the controlls bar -->
    <div id="accordion">
      <div *ngFor="let cat of JSONData; let i = index;">
        <div class="card  mt-3">
          <div class="card-header" id="heading{{i}}">
            <h5 class="mb-0">
              <button class="btn btn-link" data-toggle="collapse" attr.data-target="#collapse{{i}}"
                aria-expanded="false" attr.aria-controls="collapse{{i}}" attr.value="{{cat.category}}"
                (click)="setCat(value,i)">
                {{cat.category}}
              </button>
            </h5>
          </div>
          <div id="collapse{{i}}" class="collapse" attr.aria-labelledby="heading{{i}}" data-parent="#accordion">
            <div class="card-body">
              <!-- rubric25 
              the dropdown of the available subcategories  -->
              <div *ngFor="let sub of cat.subcategories; let j = index;">
                <!-- rubric26
                the button that fills the grid with the clicked subcategory -->
                <li><a attr.value="{{sub.name}}" (click)="setSubCat(value,j)">{{sub.name}}</a></li>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-12 box">
    <div class="my-5" *ngIf="category !== null">
      <app-subcategory [CatIndex]="catIndex" [JsonData]="JSONData"></app-subcategory>
    </div>
    <div class="my-5" *ngIf="subcategorie !== null">
      <app-product-category [CatIndex]="catIndex" [SubIndex]="subIndex"></app-product-category>
    </div>
  </div>
</div>