<div class="row">
  <div class="col-lg-3 col-5 box">
    <p class="mt-1">
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#cat1"
        role="button"
        aria-expanded="false"
        aria-controls="cat1"
      >
        Category
      </a>
    </p>
    <div class="collapse" id="cat1">
      <div class="card card-body">
        <li>Subcategorie</li>
        <li>Subcategorie</li>
        <li>Subcategorie</li>
      </div>
    </div>
    <p class="mt-1">
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#cat2"
        role="button"
        aria-expanded="false"
        aria-controls="cat2"
      >
        Category
      </a>
    </p>
    <div class="collapse" id="cat2">
      <div class="card card-body">
        <li>Subcategorie</li>
        <li>Subcategorie</li>
        <li>Subcategorie</li>
      </div>
    </div>
    <p class="mt-1">
      <a
        class="btn btn-primary"
        data-toggle="collapse"
        href="#cat3"
        role="button"
        aria-expanded="false"
        aria-controls="ca3"
      >
        Category
      </a>
    </p>
    <div class="collapse" id="cat3">
      <div class="card card-body">
        <li>Subcategorie</li>
        <li>Subcategorie</li>
        <li>Subcategorie</li>
      </div>
    </div>
  </div>
  <div class="col-lg-9 col-7 box">Lorem ipsum</div>
</div>
