<!-- rubric63
an may or may not visually appealing about page :) -->
<div class="text-center">
    <div class="jumbotron">
      <h1 class="display-3">About Us</h1>
      <p class="lead">Do epic shit!</p>
      <hr class="my-2">
      <p>This is our slogan that follows us every day! It encurages us to give our best and not to do just the standards.
        With every sell on our site our dream gets closer and closer. And all what we want is to give you a smile in your face 
      so you enter and leave our webpage happy. </p>
</div>