<ng-container *ngIf="Items.length !== 0; else elseblock">
  <div class="row background align-self-center">
    <div class="col-12 col-lg-6 ">
      <!-- rubric47
      inside this ng-container you can see the information given -->
      <ng-container *ngIf="Items.length !== undefined; else singleItem">
        <ng-container *ngFor="let item of Items; let i = index">
          <div class="row item">
            <div class="col-1">
              <button (click)=delItems(i)>X</button>
            </div>
            <div class="col-3">
              {{item.name}}
            </div>
            <div class="col-4">
              {{item.description}}
            </div>
            <div class="col-2">
              {{item.price|number}}€
            </div>
            <div class="col-2">
              <input #quant class="quantinp" type="number" min="1" value="{{item.quantaty}}"
                (click)="changeQuant(i, quant.value)" (keyup)="changeQuant(i, quant.value)">
            </div>
            <div class="col-10">
              Item Total: {{item.totalPrice|number}}€
            </div>
            <div class="col-2">
              <img class="responsive" src="{{item.imagelink}}">
            </div>
          </div>
        </ng-container>
      </ng-container>
      <ng-template #singleItem>
        <div class="row item">
          <div class="col-1">
            <button (click)=delItems(i)>X</button>
          </div>
          <div class="col-3">
            {{Items.name}}
          </div>
          <div class="col-4">
            {{Items.description}}
          </div>
          <div class="col-2">
            {{Items.price|number}}€
          </div>
          <div class="col-2">
            <input #quant class="quantinp" type="number" min="1" value="{{Items.quantaty}}"
              (click)="changeQuant(i, quant.value)" (keyup)="changeQuant(i, quant.value)">
          </div>
          <div class="col-10">
            Item Total: {{Items.totalPrice|number}}€
          </div>
          <div class="col-2">
            <img class="responsive" src="{{Items.imagelink}}">
          </div>
        </div>
      </ng-template>
      <div class="float-right mt-3">Subtotal: {{total|number}}€</div>
    </div>
    <!-- rubric49
    the section with the given information like shipping and tax -->
    <div class="col-12 col-lg-6  text-center">
      <h3>Cart Summary</h3>
      <div class="row">
        <p class="col-4">Subtotal</p>
        <p class="col-8">{{total|number}}€</p>
      </div>
      <div class="row">
        <p class="col-4">Shipping</p>
        <p class="col-8">{{shipping|number}}€</p>
      </div>
      <div class="row">
        <p class="col-4">Tax</p>
        <p class="col-8">{{tax|number}}€</p>
      </div>
      <div class="row">
        <p class="col-4">Total</p>
        <p class="col-8">{{totaltoal|number}}€</p>
      </div>
      <h5>Free Shipping on orders over 20€!</h5>
      <div class="text-center">
        <a href="" class="btn btn-default btn-rounded" data-toggle="modal" data-target="#modalBuyForm">
          Enter Shipping details</a>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #elseblock>
  <h1>You added nothing to your cart yet, go Shopping!</h1>
</ng-template>
<!-- rubric48
I used a modal as a input for the shipping details -->
<div class="modal fade" id="modalBuyForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Your Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="needs-validation" novalidate>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-user "></i>
            <input #name type="text" id="validationCustom01" class="form-control " placeholder="John Doe" required>
            <label for="validationCustom01">Your name</label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-building"></i>
            <input #city type="text" id="validationCustom03" class="form-control " placeholder="New York" required>
            <label for="validationCustom03">Your city</label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-id-badge"></i>
            <input #address type="text" id="validationCustom04" class="form-control " placeholder="Centre St. 44"
              required>
            <label for="validationCustom04">Your address</label>
          </div>

          <div class="md-form">
            <i class="fa fa-phone"></i>
            <input #number type="number" id="validationCustom05" class="form-control " placeholder="0123/456789"
              required>
            <label for="validationCustom05">Phone number</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <!-- rubric50
            the checkout button  -->
          <button type="submit" class="btn btn-unique"
            (click)="alert(name.value,city.value,address.value,number.value)">Buy Now
            <i class="fa fa-paper-plane-o ml-1"></i></button>
        </div>
      </form>
    </div>
  </div>
</div>