<div class="card">
  <!-- rubric68
  the class 'card-header' and 'header' makes it that the header is always at the top of the page  -->
  <div class="row align-items-center card-header header">
    <div class="col-8 row">
      <!-- rubric65 rubric69
      the link to the home page | the href makes it change to the home page -->
      <h4><a href="home" class="link col-6">Grocery Cloud</a></h4>
      <!-- rubric66 rubric70
      the link to the shopping page | the href makes it change to the shopping page -->
      <h4><a href="home/shopping" class="link col-6">Shop</a></h4>
    </div>
    <div class="col-4">
      <ng-container *ngIf="itemscount !== 0">
        <h3 class="float-right my-1">{{itemscount}}</h3>
      </ng-container>
      <!-- rubric67 rubric71
      the link to the cart page | the href makes it change to the cart page -->
      <a class="cart" href="/home/cart">
        <i class="fa fa-shopping-cart fa-3x float-right mx-4"></i>
      </a>
      <div *ngIf="router.url.includes('/shopping')||router.url.includes('/cart')">
        <!-- rubric43
        the button that is labeled back -->
        <a class="btn btn-primary float-right" href="javascript:void(0)" (click)="backClicked()">
          Zurück
        </a>
      </div>
    </div>
  </div>
  <div class=" my-5 container backcolor">
    <router-outlet></router-outlet>
  </div>
  <div class="card-footer text-muted footer row">
    <div class="col-12 col-lg-4 link"><i class="fa fa-copyright"></i>Philipp.Joerg@plan-b-gmbh.com</div>
    <!-- rubric73 rubric76
      the link to the home page | the href makes it change to the home page -->
    <div class="col-4 col-lg-2"><a class="link" href="/home">Home</a></div>
    <!-- rubric74 rubric77
      the link to the about page | the href makes it change to the about page -->
    <div class="col-4 col-lg-3"><a class="link" href="/home/about">About us</a></div>
        <!-- rubric75 rubric78
      the link to the about page | the href makes it change to the about page -->
    <div class="col-4 col-lg-3"> <a href="home/contact" class="link"> Contact Us </a> </div>
  </div>
</div>