$headcolor: rgb(231, 231, 231);
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 106vw;
    text-align: center;
    background-color: $headcolor;
}
.header{
    background-color: $headcolor;
}
.card{
    background-color: white;
    height: 100vh;
    width: 100vw;
}
.link{
    text-decoration: none;
    color:black;
}
.cart{
    text-decoration: none;
    color: black;
}
