<div class="card">
  <div class="row align-items-center card-header header">
    <div class=" col-6 row">
      <h2><a href="home" class="homelink col-6">D&P</a></h2>
      <h3><a href="home/shopping" class="homelink col-6">Shop</a></h3>
    </div>
    <div class="col-6">
      <ng-container *ngIf="itemscount !== 0">
      <h3 class="float-right my-1">{{itemscount}}</h3>
      </ng-container>
      <a class="cart" href="/home/shopping/cart">
        <i class="fa fa-shopping-cart fa-3x float-right mx-4"></i>
      </a>
      <div *ngIf="router.url.includes('/shopping')">
        <a class="btn btn-primary float-right" href="javascript:void(0)" (click)="backClicked()">
          Zurück
        </a>
      </div>
    </div>
  </div>
  <div class=" my-5 container backcolor">
    <router-outlet></router-outlet>
  </div>
  <div class="card-footer text-muted footer">
    Footer
  </div>
</div>