<div class="container my-5">
  <div class="row box align-items-center">
    <div class="col-lg-3 col-6">
      <!-- rubric15 
      the category name -->
      <!-- rubric27 
      the changing name of the category -->
      <h4>{{JSONData[CatIndex].subcategories[SubIndex].name}}</h4>
    </div>
    <div class="col-lg-4 col-6">
      <div class="dropdown">
        <!-- rubric18 
        the dropdown that is labled Order By -->
        <button class="btn btn-secondary dropdown-toggle" type="button" id="triggerId" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Order By
        </button>
        <!-- rubric33 
        the user clickes on the sorting method and the order function selects the right ordering
      go on on rubric33.1 -->
        <div class="dropdown-menu" aria-labelledby="triggerId">
          <a class="dropdown-item" (click)="order('name', false)">Name</a>
          <a class="dropdown-item" (click)="order('name', true)">Name Descending</a>
          <a class="dropdown-item" (click)="order('price', false)">Price</a>
          <a class="dropdown-item" (click)="order('price', true)">Price Descending</a>
          <a class="dropdown-item" (click)="order('rating', false)">Rating</a>
          <a class="dropdown-item" (click)="order('rating', true)">Rating Descending</a>
          <a class="dropdown-item" (click)="order(' ', false)">none</a>
        </div>
      </div>
    </div>
    <hr>
    <hr>
    <div class="col-lg-5 col-12">
      <!-- rubric17 
      the switch that is lables In Stock Only -->
      <label class="mx-3" for="switch">
        <h5>In Stock Only</h5>
      </label>
      <label class="switch">
        <input type="checkbox" class="inp" id="switch" (click)="btnToggle()" [checked]="checked">
        <span class="slider round"></span>
      </label>
    </div>
  </div>
  <div class="row mt-3 itembox justify-content-around">
    <ng-container *ngIf="JSONData[CatIndex].subcategories[SubIndex].items[0]; else test">
      <!-- rubric20 
      the grid that is pobulated with all the items -->
      <!-- rubric33.1
      the orderBy pipe orders the list of items with the selected order method -->
      <ng-container
        *ngFor="let item of JSONData[CatIndex].subcategories[SubIndex].items| orderBy:orderName:reverse; let i = index">
        <!-- rubric29 
        the ngIf checks if the items are in stock based on the btnToggle function -->
        <div class="m-2 col-12 col-lg-3 card" *ngIf="item.stock > InStock">
          <div class="card-body">
            <!-- rubric31 
            if the user clickes on the upper part he gets taken to the corresponding product page -->
            <a class="text" [routerLink]="['/home/shopping/detail', CatIndex, SubIndex, item.name]">
              <!-- rubric21 
              the product name of every item -->
              <h5 class="card-title">{{item.name}}</h5>
               <!-- rubric22
              the product price of every item -->
              <h6 class="card-subtitle mb-2 text-muted">{{item.price}}€</h6>
            </a>
            <div class="row">
               <!-- rubric23
              the product picture of every item -->
              <img src="{{item.imagelink}}" class="col-6 responsive">
               <!-- rubric24
              the add button of every item -->
              <!-- rubric30 
              the function sendData adds an item to the shopping cart -->
              <button class="col-6 btn btn-dark" (click)="sendData(item.name)">Add</button>
            </div>
          </div>
        </div>
      </ng-container>
    </ng-container>
    <ng-template #test>
      <h1>Out of Stock!</h1>
    </ng-template>
  </div>
</div>